@use './../setting' as *;

.developer__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &.overflow {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .developer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .developer__img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #e9e8e8;
        }
        
        p {
            width: 150px;
            text-align: center;
            padding: 20px 0;
            @include line-one;

        }
    }   
}

@media (max-width: 1200px) {
    .developer__inner {
        justify-content: center;

        .developer {
            

            .developer__img {
                width: 120px;
                height: 120px;
            }

            p {

            }
        }
    }
}