#footer {
    text-align: center;
    // background-color: var(--gray-800);
    padding: 20px;
    margin-left: 260px;
    width: calc(100% - 260px);
    // color: var(--black400);
    font-size: 0.8rem;
}