@use './../setting' as *;

$border-bottom: 4px solid;

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
}

.header__logo {
    border-bottom: $border-bottom;

    a {
        display: flex;
        padding: 10px;

        em {
            width: 40px;
            height: 40px;
            display: block;
            background-color: var(--red);
            margin-right: 10px;
            animation: ani 10s 10s ease-in-out infinite;
        }

        span {
            font-size: 20px;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}

.header__menu {
    padding: 10px 0;

    .menu {
        border-bottom: $border-bottom;

        li {
            a {
                font-size: var(font-size);
                display: block;
                padding: rem(14px) rem(16px) rem(14px) rem(50px);
                margin: 0.625rem;
                border-radius: 40px;
                position: relative;
                line-height: 1.2;
                font-weight: 600;
                transition: 0.3s;

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.25rem;
                    top: rem(13px);
                }
            }
        }
    }

    .keyword {
        padding: 1.25rem;
        
        li {
            display: inline-block;
            
            a {
                display: inline-block;
                padding: 7px 15px;
                border: 1px solid;
                font-size: 0.8rem;
                line-height: 1.3;
                border-radius: 40px;
                margin: 4px 2px;
                transition: 0.3s;
            }
        }
    }
}

.swith {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    
    .btn {
        --ratio: 3;
        
        margin-right: 12px;
        display: block;
        block-size: 20px;
        aspect-ratio: var(--ratio) / 1;
        border-radius: 40px;
        border: none;
        padding: 6px;
        border: 1px solid;
        background: transparent;
        cursor: pointer;
        box-sizing: content-box;
        outline-offset: 6px;
        transition: inherit;
      
        .ball {
          display: block;
          height: 100%;
          aspect-ratio: 1 / 1;
          border-radius: 40px;
          transition: 0.3s ease-in-out;
        }
      }
}


.header__sns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 260px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid;
    backdrop-filter: blur(10px);
    
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        
        li {
            a {
                display: flex;
                align-items: center;
                padding: 10px;
            }
            
            svg {
                font-size: rem(24px);
            }
        }
    }
}

@keyframes ani {
    0% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
    50% {
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }
    100% {
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
}