@media (max-width: 1200px) {
    #header {
        left: -260px;
        transition: left 0.3s;
    }

    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }
}