@media (max-width: 1200px) {
    #header {
        left: -260px;
        transition: left 0.3s;

        h1 {
            position: fixed;
            left: 0;
            top: 0;
            border: 0;
        }

        .header__sns {
            position: unset;
        }

        &.active {
            left: 0;
            .header__menu {
                margin-top: 64px;
            }
        }
    }

    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }
}