#search {
    position: relative;
}

.search__inner {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid;
    box-sizing: border-box;

    label {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 35px;
        top: 28px;
        background-size: cover;
    }

    input {
        border: 1px solid;
        width: 100%;
        padding: 14px 45px;
        border-radius: 40px;
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .search__inner {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        // padding: 17px 20px 17px 200px;

        label {
            top: 29px;
            left: 93px;
        }
        input {
            padding: 14px 14px 14px 45px;
        }
    }
}

.search__input {
    position: relative;
    width: 100%;
}

.search__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(40%, -50%);
    z-index: 1;
    color: gray;
}