section {
    &:nth-child(1){
        margin-top: 70px;
    }

    padding: 40px;

    @media (max-width: 1200px){
        padding: 120px 20px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }
}

// Home에 나열되는 section 패딩값
#home {
    section {
        padding: 40px;
        @media (max-width: 1200px){
            padding: 30px 20px;
        }
    }
}

// 마우스 오버 아이콘
.play__icon-frame {
    position: relative;
    display: block;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .2s ease;
        pointer-events: none;
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover .play__icon {
        display: block;
    }
}

.play__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    color: white;
}