:root {
    --mainfont-nanum: "Pretendard Variable";
    --mainfont-nexon: "Noto Sans KR";
  
    --white: #F5F5F7;
    --black: #070707;
    --gray-100: rgba(225, 225, 225, 1);
    --gray-200: rgba(196, 196, 196, 1);
    --gray-300: rgba(166, 166, 166, 1);
    --gray-400: rgba(137, 137, 137, 1);
    --gray-500: rgba(107, 107, 107, 1);
    --gray-600: rgba(86, 86, 86, 1);
    --gray-700: rgba(64, 64, 64, 1);
    --gray-800: rgba(43, 43, 43, 1);
    --gray-900: rgba(21, 21, 21, 1);
    --red: #D11719;
    --blue-100: #248ff4;
    --blue-200: #0077ED;
    --blue-300: #0071e3;
    --blue-400: #006EDB;
    
    // 폰트 셋팅
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}